html,
body {
  height: 100%;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  height: 100%;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.search-bar {
  grid-column-start: 1;
  grid-column-end: 3;
}

.user-info {
  grid-column-start: 1;
  grid-column-end: 2;
}

.buttons {
  grid-column-start: 2;
  grid-column-end: 3;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
}

.navigation {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.main-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.projects {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.announcements {
}

.trending {
}

.sidebar,
.header,
.main-content,
.search-bar,
.user-info,
.buttons,
.projects,
.announcements,
.trending,
.branding,
.navigation,
.container-1,
.container-2 {
  border: 1px black solid;
}
