@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 5fr;
  height: 100%;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.search-bar {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
}

.user-info {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-start: 1;
  grid-column-end: 2;
}

.user-info .text {
  grid-column-start: 2;
}

.buttons {
  padding: 10px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-start: 2;
  grid-column-end: 3;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
  background-color: #4ade80;
}

.navigation {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.main-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  padding: 25px;
  background-color: #334155;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 50px);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  gap: 10px;
}

.projects-heading {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  color: white;
}

.project-item {
  margin: 10px;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
}

.announcements {
  margin: 10px;
  padding: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: white;
  border-radius: 10px;
}

.trending {
  margin: 10px;
  padding: 10px;
  grid-column-start: 2;
  background-color: white;
  border-radius: 10px;
}

/* .sidebar,
.header,
.main-content,
.search-bar,
.user-info,
.buttons,
.projects,
.announcements,
.trending,
.branding,
.navigation,
.container-1,
.container-2,
.project-item {
  border: 1px black solid;
} */

img {
  max-width: 30px;
  max-height: 30px;
}

.header-icon {
  max-width: 30px;
  max-height: 30px;
  margin: 10px;
  justify-self: center;
}

.icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.profile-pic.small {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  padding: 20px;
}

.profile-pic.normal {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.search-bar .profile-pic {
  justify-self: center;
}

.user-info .profile-pic {
  grid-row-start: 1;
  justify-self: center;
}

input#search {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  align-content: center;
}
